body {
    margin: auto;
    width: 100%;
    max-width: 60em;
}

header img {
    width: 100%;
}

header {
    text-align: center;
    width: 100%;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 200%;
    color: darkslategray;
    text-shadow: 1px 1px 1px black;
}

h2 {
    text-align: center;
    font-size: 100%;
    color: darkslategray;
}

h3 {
    text-align: center;
    color: darkslategray;
}

article {
    float: left;
    overflow: auto;
    text-align: center;
    max-width: 30em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#textbord {
    background-color: whitesmoke;
    border: solid black .05em;
    padding: .5em;
}

#imgbord {
    border: solid black .05em;
}

aside {
    float: right;
    overflow: auto;
    text-align: center;
    max-width: 27em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: .25em;
}

h4 {
    float: right;
    max-width: 30em;
    width: 100%;
    margin: auto;
    border: white .05em;
    padding: .25em;
    background-color: white;
}

footer {
    padding-top: 10px;
    clear: both;
    text-align: center;
    font-size: .8em;
    width: 100%;
}

#nav_list {
    font-size: 110%;
}

    #nav_list ul {
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
        padding-top: 0em;
        margin-top: 0em;
        padding-left: .3125em;
    }

    #nav_list li {
        float: left;
        border-right: .0625em solid black;
    }

        #nav_list li a {
            display: block;
            color: silver;
            text-align: center;
            padding: .875em 1em;
            text-decoration: none;
            text-shadow: .0625em .0625em .3125em black;
        }

    #nav_list a:hover, a:active {
        text-decoration: underline;
        font-weight: bold;
        background-color: #111;
    }

fieldset{
    background-color: whitesmoke;
}

form {
    margin: 0 0 0 20px;
}

input[type="text"], input[type="email"] {
    width: 250px;
}

textarea {
    width: 500px;
    height: 125px;
}

table {
    overflow-x: auto;
    border-spacing: 0em;
}

td {
    width: 150px;
}

th {
    background-color: #00BFFF;
}

tr:hover {background-color: silver;}

th, td {
    border-bottom: solid 1px #00BFFF;
    padding: 5px;
}